
<div class="wrapper">	
	<div class="header header-filter min-header"  >
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h2>hBuddy Gateway</h2>						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">

					<div class="section text-center section-landing">
							<div class="container">
									<div class="row">
										<div class="col-md-10 col-md-offset-4">
											<ul class="nav nav-pills nav-pills-primary" role="tablist">
												<li class="active">
													<a href="#place-areas" role="tab" data-toggle="tab">
														<i class="material-icons">place</i>
														Areas
													</a>
												</li>
												<li >
													<a href="#scenes" role="tab" data-toggle="tab">
														<i class="material-icons">schedule</i>
														Scenes
													</a>
												</li>
												<li>
													<a href="#groups" role="tab" data-toggle="tab">
														<i class="material-icons">group</i>
														Groups
													</a>
												</li>
												<li>
													<a href="#energy-consumption" role="tab" data-toggle="tab">
														<i class="material-icons">show_chart</i>
														Energy
													</a>
												</li>
											</ul>
										</div>
									</div>
									<br />
									<div class="content">
										<div class="tab-content text-center">
											<div class="tab-pane active" id="place-areas">
												<h3> Place Areas </h3>
											</div>
											<div class="tab-pane" id="scenes">
												<h3> Scenes </h3>
											</div>
											<div class="tab-pane" id="groups">
												<h3> Groups </h3>
											</div>
											<div class="tab-pane" id="energy-consumption">
												<h3> Energy Consumption </h3>
											</div>
										</div>
									</div>


							</div>
					</div>

		</div>
</div>