
<div class="container" >
	<br />
	
	<h2>hBuddy Configurations</h2>
	
	 <div class="row">
		  <div class="col-sm-4">
		  		<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">WiFi</h3>
					  </div>
					  <div class="panel-body">
					    	<form class="form" role="form" accept-charset="UTF-8" id="wifiConfForm">
																
								<div class="input-group margin-bottom-md">
								  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
								  <input class="form-control" type="text" data-ng-model="config.wifi.ssid" placeholder="SSID / Username" >
								</div>
								<div class="input-group">
								  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
								  <input class="form-control" type="password" data-ng-model="config.wifi.password" placeholder="Password">
								</div>
								<br />
								<div class="form-group">
									 <button type="submit" class="btn btn-primary btn-block" data-ng-click="updateWifiConfiguration();">Update</button>
								</div>
								
						 </form>
					  </div>
				</div>
		  
		  </div>
		  <div class="col-sm-4 col-last">
		  		<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Sensors</h3>
					  </div>
					  <div class="panel-body">
					    	<button type="submit" class="btn btn-primary btn-block" data-ng-click="enableSensors();">Enable Sensors</button>&nbsp;&nbsp;
							<button type="submit" class="btn btn-primary btn-block" data-ng-click="disableSensors();">Disable Sensors</button>
					  </div>
				</div>
		  
		  </div>
	</div>		
	
</div>
